<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <div *ngIf="commentSelected">
      <app-chat-comment
        [comment]="commentSelected"
        [answerMode]="true"
      ></app-chat-comment>
      <div class="line"></div>
      <app-chat-comment
        *ngFor="let comment of commentAnswers"
        [comment]="comment"
        [answerMode]="true"
      ></app-chat-comment>
      <comment-form
        [responseMode]="true"
        (saveComment)="saveComment($event, commentSelected.id)"
      ></comment-form>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-grid-list cols="1" rowHeight="8.2vh">
      <mat-grid-tile
        ><mat-card>
          <h1>{{ channel }}</h1>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile rowspan="10" class="comments">
        <div class="comments_list" #commentsList>
          <app-chat-comment
            *ngFor="let comment of comments"
            [comment]="comment"
            (showResponse)="getCommentResponse($event)"
            (delete)="deleteComment($event)"
          ></app-chat-comment>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <comment-form (saveComment)="saveComment($event)"></comment-form>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-drawer-container>
