mat-drawer-container {
  height: 100vh;
}
mat-card,
comment-form,
app-chat-comment {
  width: 100%;
}

.example-sidenav {
  width: 320px;
  padding-top: 32px;
}

.comments_list {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
