mat-form-field {
  width: 90%;
}

textarea {
  resize: none;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
}

button {
  background-color: rgb(10, 21, 53);
  color: white;
}

.response {
  flex-direction: column;
}
