<h1 mat-dialog-title>Changement de mot de passe de {{ user.firstname }}</h1>
<div mat-dialog-content class="content">
  <mat-form-field class="form-element" appearance="fill">
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput [(ngModel)]="newPwd" type="password" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Annuler</button>
  <button
    mat-raised-button
    [mat-dialog-close]="newPwd"
    cdkFocusInitial
    class="save"
  >
    Valider
  </button>
</div>
