.container {
  padding: 8px 20px;
  position: relative;

  .comment {
    display: flex;
    flex-direction: row;

    .content {
      padding-left: 8px;
      margin-bottom: 8px;
      .customer {
        display: flex;

        .name {
          font-weight: bold;
          font-size: 16px;
          padding-right: 14px;
          margin-bottom: 0;
        }

        .date {
          color: #616061;
          font-size: 12px;
        }
      }

      .message p {
        font-size: 15px;
        padding: 0.3rem;
        overflow: hidden;
      }
    }
  }

  .answer {
    background-color: rgb(10, 21, 53);
    color: white;
    margin-top: 8px;
  }

  .action {
    position: absolute;
    right: 20px;
    top: -10px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #616061;
    display: none;
    justify-self: flex-end;

    i {
      padding-right: 0.5rem;
      font-size: 1rem;
      color: rgb(168, 8, 8);
      cursor: pointer;
    }
  }

  &:hover {
    background-color: rgb(247, 246, 246);

    .action {
      display: block;
    }
  }
}

button {
  border: none;
  background-color: transparent;
}

.user-image {
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%; /* If you want a circular image */
  /* Add any other styling you need */
}
