<!-- Add a menu burger icon to toggle the sidenav -->
<button mat-icon-button (click)="toggleSidenav()">
  <i class="fa-solid fa-bars"></i>
</button>

<!-- Your mat-drawer-container code remains the same -->
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened #sidenav>
    <img src="../../../../assets/img/logo.png" alt="logo section" />

    <ul>
      <li>
        <span (click)="chatSelected = !chatSelected"
          ><i class="fa-solid fa-comments"></i>Chat</span
        >
        <ul *ngIf="chatSelected">
          <li (click)="goToChannel('Commun')">#Commun</li>
          <li (click)="goToChannel('Question')">#Question</li>
          <li
            *ngIf="isAdmin || currentUser?.status === 'Jsp1'"
            (click)="goToChannel('JSP1')"
          >
            #JSP1
          </li>
          <li
            *ngIf="isAdmin || currentUser?.status === 'Jsp2'"
            (click)="goToChannel('JSP2')"
          >
            #JSP2
          </li>
          <li
            *ngIf="isAdmin || currentUser?.status === 'Jsp3'"
            (click)="goToChannel('JSP3')"
          >
            #JSP3
          </li>
          <li
            *ngIf="isAdmin || currentUser?.status === 'Jsp4'"
            (click)="goToChannel('JSP4')"
          >
            #JSP4
          </li>
        </ul>
      </li>
      <li routerLink="/user/profile">
        <i class="fa-solid fa-user"></i> Profil
      </li>
      <li routerLink="classes" routerLink="/user/classes">
        <i class="fa-solid fa-graduation-cap"></i>Cours
      </li>
      <li routerLink="/admin/gallery" *ngIf="isAdmin">
        <i class="fa-solid fa-images"></i>Galerie
      </li>
      <li routerLink="/admin/users" *ngIf="isAdmin">
        <i class="fa-solid fa-user-shield"></i>Admin
      </li>
    </ul>

    <div class="logout" (click)="logout()">
      <i class="fa-solid fa-power-off"></i>Se déconnecter
    </div>
  </mat-drawer>
  <mat-drawer-content [ngClass]="padding ? 'padding' : ''">
    <ng-content #outlet="outlet"></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
