mat-form-field {
  width: 100%;
}

button {
  display: block;
  margin: auto;
  border: none;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: rgb(10, 21, 53);
  color: white;
  border-radius: 16px;
  cursor: pointer;
}
