<h2>Vos notes</h2>

<p *ngIf="notes.length === 0">Pas de note pour cet utilisateur</p>
<table
  mat-table
  [dataSource]="notes"
  class="mat-elevation-z8"
  *ngIf="notes.length > 0"
>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    <td mat-footer-cell *matFooterCellDef>Moyenne</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Evaluation</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Note</th>
    <td mat-cell *matCellDef="let element">{{ element.valeur }} / 20</td>
    <td mat-footer-cell *matFooterCellDef>
      <strong>{{ average }} / 20</strong>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
