<h1>
  Listes des fichies
  <i class="fa-solid fa-circle-plus" (click)="openFileForm()"></i>
</h1>

<mat-chip-list aria-label="Dog selection">
  <mat-chip (click)="filter('all')">Tous</mat-chip>
  <mat-chip (click)="filter('Commun')">Commun</mat-chip>
  <mat-chip (click)="filter('Jsp1')">JSP1</mat-chip>
  <mat-chip (click)="filter('Jsp2')">JSP2</mat-chip>
  <mat-chip (click)="filter('Jsp3')">JSP3</mat-chip>
  <mat-chip (click)="filter('Jsp4')">JSP4</mat-chip>
  <mat-chip (click)="filter('Admin')">Admin</mat-chip>
</mat-chip-list>

<table mat-table [dataSource]="filesFiltered" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Prénom</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="grp">
    <th mat-header-cell *matHeaderCellDef>Statut</th>
    <td mat-cell *matCellDef="let element">{{ element.grp }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" class="actions">
      <i
        class="fa-solid fa-file-arrow-down"
        (click)="download(element.name)"
        title="Télécharger"
      ></i>
      <i
        class="fas fa-trash"
        (click)="deleteFile(element.id)"
        title="Supprimer"
      ></i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
